<!DOCTYPE html>
<html>
<head>
<title>{{pageTitel}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />

</head>
<body>

	<div class="container-fluid">

		<nav class="navbar navbar-expand-sm navbar-dark"
			style="background: green;">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#nav-content" aria-controls="nav-content"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Brand -->
			<a class="navbar-brand" href="#">Logo</a>

			<!-- Links -->
			<div class="collapse navbar-collapse" id="nav-content">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Destinations</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="/Tab">About</a></li>
				</ul>
			</div>
		</nav>

	</div>

	<div class="container" align="center">
		<p></p>
		<p></p>
		<p></p>
		<div class="row">
			<div class="col">


				<div class="jumbotron">
					<h1>Welcome to landing page!</h1>
					<p>This is an example for jumbotron. {{pageTitel}}</p>

					<p>
						<a class="btn btn-Primary btn-lg" type="button">Learn more</a>
					</p>

				</div>


			</div>
		</div>
	</div>
	

 
<!-- 
  <div class="row" align="center">
  <footer>
<!--<form class="form-inline" role="form">-->
 <!-- ><form action="/subscribeForm" class="form-inline" method="post" role="form" enctype="application/x-www-form-urlencoded">
<div class="form-group">
    <input type="email" class="form-control" placeholder="Email"  name="email" id="email"> OR  
    <input type="number" class="form-control" placeholder="Mobile number"  name="Phone" id="Phone">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">Subscribe</button>
     </div>
     </div>
  </form>
  Copyright &copy; {{currentYear}} ABC Travel   | All Rights Reserved ABC Travel
  </footer>
    </div>
<div class="row" align="center">
</div> -->

  
   
  
 
  
<div class="jumbotron text-center" style="margin-bottom:0">
 <div class="row justify-content-center  page-footer font-small blue pt-4">
  <form action="/subscribeForm" class="form-inline" method="post" role="form" enctype="application/x-www-form-urlencoded">
<div class="form-group">
    <input type="email" class="form-control" placeholder="Email"  name="email" id="email"> OR  
    <input type="number" class="form-control" placeholder="Mobile number"  name="Phone" id="Phone">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">Subscribe</button>
     </div>
     </div>
  </form>
 <br>
  </div>
      <div class="row justify-content-center  font-small blue pt-4">
     
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2016 - City of USA.  All rights reserved.</p>
        </div>
</div>  
  	
</body>
</html>
